@import "../abstracts/variables";

* {
  box-sizing: border-box;
  font-variant-ligatures: none;
  margin: 0;
  padding: 0;
}

html {
  font-family: $font-family-primary;
  scroll-behavior: smooth;
}

body {
  color: get-color("solid-black");
  font-family: $font-family-primary;
  font-size: $font-size-base;
  margin: 0;
  padding: 0;
}

a {
  color: get-color("red");
  text-decoration: underline;

  &:hover {
    text-decoration: none;
  }

  &:active,
  &:visited {
    color: get-color("red");
    text-decoration: none;
  }

  &:disabled,
  &.disabled,
  &[disabled],
  &--disabled {
    color: get-color("light-grey");
    cursor: default;
    pointer-events: none;
    text-decoration: none;
  }

  [class^="icon-"],
  [class*=" icon-"] {
    color: inherit;
    font-size: inherit;
    margin-right: rem(8px);
  }
}

button,
a {
  -webkit-tap-highlight-color: transparent;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ol,
ul {
  margin-left: 30px;
}

b,
strong,
.bold {
  font-weight: bold;
}

.clear {
  clear: both;
}

.align-top {
  vertical-align: top;
}

.align-bottom {
  vertical-align: bottom;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.align-center {
  text-align: center;
}

.zero-padding {
  padding: 0 !important;
}

.no-padding-top {
  padding-top: 0 !important;
}

.no-padding-right {
  padding-right: 0 !important;
}

.no-padding-bottom {
  padding-bottom: 0 !important;
}

.no-padding-left {
  padding-left: 0 !important;
}

.zero-margin {
  margin: 0 !important;
}

.no-margin-top {
  margin-top: 0 !important;
}

.no-margin-right {
  margin-right: 0 !important;
}

.no-margin-bottom {
  margin-bottom: 0 !important;
}

.no-margin-left {
  margin-left: 0 !important;
}

.no-top-spacer {
  margin-top: 0 !important;
  padding-top: 0 !important;
}

.no-bottom-spacer {
  margin-bottom: 0 !important;
  padding-bottom: 0 !important;
}

.no-spacer {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.overflow-hidden {
  overflow: hidden;
}

/* Custom Scroll bar */
.custom-scroll {
  &::-webkit-scrollbar {
    height: rem(7px);
  }

  &::-webkit-scrollbar-track {
    background: get-color("light-grey");
  }

  &::-webkit-scrollbar-thumb {
    background: get-color("light-orange");
    border-radius: rem(25px);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: get-color("orange-mid-tone");
  }
}

.txt-color {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;

  &--orange {
    color: get-color("orange");
  }

  &--solid-grey {
    color: get-color("solid-grey");
  }
}

.bg-color--smoke-white {
  background-color: get-color("smoke-white");
}