.toggleview {
    display: inline-flex;
    align-items: center;
    margin: 0 rem(10px);

    li {
        cursor: pointer;
        margin: 0 rem(5px);
    
        &.active,
        &:hover {
            svg {
                path {
                    stroke: get-color('red');
                }
            }
        }
    }
}