.button {
  border: none;
  color: get-color('white');
  padding: rem(16px) rem(32px);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: $font-size-base;
  border-radius: rem(4px);
  cursor: pointer;

  &.primary {
    background-color: get-color('blue');
  }

  &.secondary {
    background-color: get-color('titanium-white');
    color: get-color('solid-black');
  }

  &.success {
    background-color: get-color('green');
  }

  &.danger {
    background-color: get-color('red');
  }
}