.list {
  &.inline {
    & li {
      display: inline-block;
      margin-right: rem(16px);
    }
  }

  .teaser {
    padding: rem(32px);
    // max-width: $width-sidebar + 20;
    background-color: get-color('smoke-white');
    margin-bottom: rem(32px);

    & a {
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    & .teaser-title {
      font: {
        size: $font-size-base + 12;
        weight: $font-weight-semi;
      }
    }
  }
}
