.banner {
    // color: get-color('white');
    position: relative;
    overflow: hidden;
    padding-top: rem(69px);
    background: url('https://edon-ng.envytheme.com/banner-bg.e397b0299aadacaf.jpg') no-repeat;
    background-size: cover;
    height: calc(100vh);

    @include media("<tablet") {
        padding-inline: rem(16px);
    }

    .flexWrpper {
        @include media("<tablet") {
            flex-direction: column !important;
            align-items: flex-start !important;
            justify-content: flex-start !important;
        }
    }

    img {
        display: flex;
        max-width: 45%;

        @include media("<tablet") {
            max-width: 100%;
            display: block;
        }
    }

    .summary {
        padding-right: rem(60px);
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        @include media("<tablet") {
            padding: 0;
            display: block
        }

        h1 {
            @extend %h1;
            margin-bottom: rem(36px);

            span {
                color: get-color('red');
            }

            @include media("<tablet") {
                margin-block: rem(16px);

                font: {
                    size: $font-size-base + 4;
                }
            }
        }
    }

    .search {
        position: relative;
        border: 1px solid get-color('nobel-grey');
        border-radius: rem(40px);

        input {
            width: 100%;
            padding: rem(20px);
            padding-right: rem(60px);

            @include media("<tablet") {
                padding: rem(10px);
                padding-right: rem(30px);
            }
        }

        >button {
            position: absolute;
            right: rem(18px);
            top: rem(18px);

            @include media("<tablet") {
                right: rem(10px);
                top: rem(10px);
            }
        }

        i {

            font: {
                size: rem($font-size-base + 8);
            }

            @include media("<tablet") {
                font: {
                    size: rem($font-size-base + 2);
                }
            }
        }
    }

    &::after {
        // content: "";
        position: absolute;
        inset: 0;
        opacity: .25;
        transition: all 0.2s ease-in-out;
        background: linear-gradient(to left, #000000, transparent);
        z-index: 1;
    }

    .popular-search {
        display: flex;
        align-items: center;
        margin: rem(20px) 0;

        @include media("<tablet") {
            display: block;
        }

        >ul {
            display: flex;
            gap: rem(16px);
            margin-left: rem(16px);

            @include media("<tablet") {
                display: block;
                margin: 0;
            }

            >li {
                cursor: pointer;
                padding: rem(6px) rem(16px);
                font-size: $font-size-base - 2;
                color: get-color('red');
                border: rem(1px) solid get-color('red');
                border-radius: rem(20px);
                transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

                &:hover {
                    background-color: get-color('red');
                    color: get-color('white');
                }

                @include media("<tablet") {
                    text-align: center;
                    margin: rem(16px) 0 0;
                }
            }
        }
    }
}

@keyframes AnimleftRight {

    0%,
    100% {
        left: 0;
    }

    50% {
        left: 50%;
    }
}