.main {
  min-height: 100vh;

  font: {
    family: $font-family-primary;
  }

  h2 {
    @extend %h2;

    margin-block: rem(16px);
  }

  & .right-panel {
    padding: 0 rem(24px);
    width: calc(100% - 300px);
    background-color: get-color('smoke-white');

    // flex: 1 0 0;
  }

  & .list-row {
    >* {
      flex: 0 0 23.97%;
    }
  }

  & .sortBy {
    cursor: pointer;
    padding: rem(16px);
    display: inline-block;

    >svg {
      transform: rotate(90deg);
    }
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgb(var(--card-rgb) 0.1);
    border: 1px solid rgb(var(--card-border-rgb) 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (width <=700px) {}

/* Tablet and Smaller Desktop */
@media (width >=701px) and (width <=1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}