.logo {
    display: flex;
    align-items: center;

    >img {
        max-width: rem(105px);
        margin-right: rem(10px);
        width: 100%;
    }

    .logo-text--default {
        color: get-color('red');

        font: {
            size: $font-size-base + 2;
            weight: $font-weight-bold;
        }
    }
}