.logo {
    display: flex;
    align-items: center;

    >img {
        max-width: 35px;
        margin-right: 10px;
    }

    .logo-text--default {
        color: rgb(250, 15, 0);

        font: {
            size: 18px;
            weight: 700;
        }
    }
}