.card {
  margin: 0 0 rem(30px);
  background: get-color('white');
  border-radius: rem(8px);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  overflow: hidden;
  cursor: pointer;

  .card-category {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to top, get-color('black'), get-color('solid-black-shadow')) get-color('black');
    display: none;
    width: 100%;
    height: rem(40px);
    transition: 0.3s ease all;

    span {
      font: {
        size: $font-size-base - 2;
        weight: $font-weight-semi;
      }

      color: get-color('white');
      display: inline-block;
      padding: rem(10px);
    }
  }

  &:hover {
    .card-category {
      display: block;
      transition: 0.3s ease all;
    }
  }

  .card-thumb {
    position: relative;

    & img {
      width: 100%;
      height: 100%;
    }

    .icon-play {
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      position: absolute;
      background: url('./icon-play.svg') no-repeat;
      background-size: auto 50%;
      background-position: center;
      visibility: hidden;
      opacity: 0;
      transition: opacity 150ms ease-in-out;
      transition: -webkit-transform 150ms ease-in-out;
      transition: -webkit-transform 150ms ease-in-out;
      transition: transform 150ms ease-in-out;
      transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
      transform: scale(0);
    }

    &:hover {
      .icon-play {
        visibility: visible;
        opacity: 1;
        transform: scale(0.6);
      }
    }
  }

  .card-content {
    padding: rem(10px) rem(20px);

    .card-bottom {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: rem(20px) 0;

      &:has(.read-link) {
        justify-content: center;
      }

      .card-comments {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: get-color('abbey');

        font: {
          size: $font-size-base - 2;
        }
      }

      .card-like {
        display: flex;
        align-items: center;
        cursor: pointer;
      }

      .read-link {
        display: inline-block;
        padding: 11px 32px 11px 31px;
        font-weight: 600;
        overflow: hidden;
        z-index: 1;
        transition: all 0.5s ease 0s;
        text-transform: capitalize;
        padding: 0;
        padding-right: 0px !important;
        border: 1px solid transparent;
        background-color: transparent;
        font-size: 18px;
      }
    }
  }

  // PRIMARY CARD
  &.primary {
    //max-width: $width-sidebar + 50;

    .card-thumb {
      & img {
        width: 100%;
        height: rem(220px);
        object-fit: cover;
      }
    }

    .card-content {
      .card-list {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: space-between;
        margin: 0;
      }
    }
  }

  // SECONDARY CARD
  &.secondary {
    a {
      display: flex;
      max-width: rem(800px);
    }

    .card-thumb {
      flex: 0 0 40%;
    }

    .card-content {
      flex: 0 0 60%;

      h3 {
        margin: rem(10px) 0 0;
        color: get-color('black');
        font-size: rem(20px);

        font: {
          weight: $font-weight-semi;
        }
      }
    }

    .author-box {
      display: flex;
      margin: rem(20px) 0 0;

      .author-image {
        max-width: rem(50px);
        height: rem(50px);
        margin-right: rem(20px);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: rem(50px);
        }
      }

      .author-info {
        h5 {
          margin: 0;

          font: {
            size: $font-size-base + 2;
          }
        }

        p {
          margin: rem(5px) 0;
        }
      }
    }
  }

  // TERTIARY CARD
  &.tertiary {
    // max-width: $width-sidebar + 50;
    margin-bottom: 40px !important;
    margin: 0px 0 30px;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px 0 rgba(0, 43, 92, 0.08);
    position: relative;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 28px;
    padding: 8px;

    .card-thumb {
      & img {
        width: 100%;
        height: rem(220px);
        object-fit: cover;
      }
    }

    .card-content {
      h3 {
        // margin: rem(10px) 0 0;
        // color: get-color('black');
        font-size: 20px;
        line-height: 27px;
        margin-bottom: 10px;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        font-weight: 400;

        font: {
          weight: $font-weight-semi;
        }

        min-height: rem(45px);
      }

      .card-list {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: space-between;
        margin: 0;
      }

      .featured-desc p {
        font-size: 14px;
        line-height: 25px;
        margin-bottom: 0;
        -webkit-line-clamp: 4;
        position: relative;
        text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
      }

      .border-seperator {
        position: relative;
        background-size: 7px;
        height: 2px;
        margin: 20px 0 15px;
        background-image: -webkit-gradient(linear,
            left top,
            right top,
            from(transparent),
            color-stop(75%, transparent),
            color-stop(75%, #bf9456),
            to(#bf9456));
        background-image: -o-linear-gradient(left, transparent 0, transparent 75%, #bf9456 75%, #bf9456);
        background-image: linear-gradient(to right, transparent 0, transparent 75%, #bf9456 75%, #bf9456);

        &::after,
        &::before {
          content: '';
          position: absolute;
          transition: all 0.5s;
          border-radius: 50%;
        }

        &::after {
          background-color: #762051;
          width: 6px;
          height: 6px;
          left: 2px;
          top: -3px;
        }

        &::before {
          width: 16px;
          height: 16px;
          line-height: 16px;
          border: 1px solid #bf9456;
          left: -3px;
          top: -8px;
          background-color: #fff;
        }
      }
    }

    .card-comments {
      i {
        margin-right: rem(10px);
      }
    }
  }

  // TEXT ICON
  &.texticon {
    display: flex;
    max-width: 100%;
    border-radius: 0;
    align-items: center;
    padding: rem(8px) rem(10px);
    gap: rem(20px);

    a {
      display: flex;
      width: 100%;
      align-items: center;
      padding: rem(20px);
      text-decoration: none;
      color: get-color('solid-black');
      column-gap: rem(16px);
    }

    .card-icon {
      padding: rem(10px);
      width: rem(50px);
      height: rem(50px);
      line-height: rem(30px);
      text-align: center;
      border: rem(2px) solid get-color('red');
      border-radius: rem(50px);
      font-size: $font-size-base;
      color: get-color('red');
      position: relative;

      & svg:nth-child(2) {
        position: absolute;
        height: rem(20px);
        width: rem(20px);
        bottom: 0;
        right: 0;
      }
    }

    .card-content {
      padding: 0;

      h3 {
        color: get-color('light-black');
        margin: 0;
      }
    }
  }

  // IN PROGRESS CARD
  &.in-progress {
    //max-width: $width-sidebar + 50;

    .card-thumb {
      & img {
        width: 100%;
        height: rem(220px);
        object-fit: cover;
      }
    }

    .card-content {
      h3 {
        margin: 0;
      }
    }

    .card-progress {
      padding: 0;
      width: 100%;
      height: 4px;
      overflow: hidden;
      background: #e5e5e5;
    }

    .card-bar {
      position: relative;
      float: left;
      min-width: 1%;
      height: 100%;
      background: #fd60b1;
    }

    .card-percent {
      color: #2d2f31;
      margin: 5px 0;
      font-weight: 400;
      line-height: 1.4;
      font-size: 16px;
    }
  }
}