.card {
  margin: 0 0 rem(30px);
  background: get-color('white');
  border-radius: rem(8px);
  box-shadow: 0 1px 3px 0 rgb(0 0 0 / 10%), 0 1px 2px 0 rgb(0 0 0 / 6%);
  overflow: hidden;
  cursor: pointer;

  .card-category {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(to top, #0000, #000000fa) #0000;
    display: none;
    width: 100%;
    height: rem(40px);
    transition: 0.3s ease all;

    span {
      font: {
        size: $font-size-base - 2;
        weight: $font-weight-semi;
      }

      color: get-color('white');
      display: inline-block;
      padding: rem(10px);
    }
  }

  &:hover {
    .card-category {
      display: block;
      transition: 0.3s ease all;
    }
  }

  .card-thumb {
    position: relative;

    & img {
      width: 100%;
      height: 100%;
    }
  }

  .card-content {
    padding: rem(10px) rem(20px);

    .card-bottom {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: space-between;
      padding: rem(20px) 0;

      .card-comments {
        display: flex;
        align-items: center;
        text-transform: capitalize;
        color: get-color('abbey');

        font: {
          size: $font-size-base - 2;
        }
      }

      .card-like {
        display: flex;
        align-items: center;
        cursor: pointer;
      }
    }
  }

  // PRIMARY CARD
  &.primary {
    max-width: $width-sidebar + 50;

    .card-thumb {
      & img {
        width: 100%;
        height: rem(220px);
        object-fit: cover;
      }
    }

    .card-content {
      .card-list {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: space-between;
        margin: 0;
      }
    }
  }

  // SECONDARY CARD
  &.secondary {
    display: flex;
    max-width: rem(800px);

    .card-content {
      h3 {
        margin: 0;
      }
    }

    .author-box {
      display: flex;

      // column-gap: 25px;
      margin: rem(20px) 0 0;

      .author-image {
        max-width: rem(50px);
        height: rem(50px);

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: rem(50px);
        }
      }

      .author-info {
        h5 {
          margin: 0;

          font: {
            size: $font-size-base + 2;
          }
        }

        p {
          margin: rem(5px) 0;
        }
      }
    }
  }

  // TERTIARY CARD
  &.tertiary {
    max-width: $width-sidebar + 50;



    .card-thumb {
      & img {
        width: 100%;
        height: rem(220px);
        object-fit: cover;
      }

      .icon-play {
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        background: url("https://demo.foxthemes.net/courseplus/assets/images/icon-play.svg") no-repeat;
        background-size: auto 50%;
        background-position: center;
        visibility: hidden;
        opacity: 0;
        transition: opacity 150ms ease-in-out;
        transition: -webkit-transform 150ms ease-in-out;
        transition: -webkit-transform 150ms ease-in-out;
        transition: transform 150ms ease-in-out;
        transition: transform 150ms ease-in-out, -webkit-transform 150ms ease-in-out;
        transform: scale(0);
      }

      &:hover {
        .icon-play {
          visibility: visible;
          opacity: 1;
          transform: scale(0.6);
        }
      }
    }

    .card-content {
      h3 {
        margin: rem(10px) 0 0;
        color: get-color('red');

        font: {
          weight: $font-weight-semi;
        }

        min-height: rem(45px);
      }

      .card-list {
        display: flex;
        list-style: none;
        padding: 0;
        justify-content: space-between;
        margin: 0;
      }
    }

    .card-comments {
      i {
        margin-right: rem(10px);
      }
    }
  }

  // TEXT ICON
  &.texticon {
    display: flex;
    max-width: 100%;
    border-radius: 0;

    a {
      display: flex;
      width: 100%;
      align-items: center;
      padding: rem(20px);
      text-decoration: none;
      color: get-color('solid-black');
      column-gap: rem(16px);

    }

    .card-icon {
      padding: rem(10px);
      width: rem(50px);
      height: rem(50px);
      line-height: rem(30px);
      text-align: center;
      border: rem(2px) solid get-color('red');
      border-radius: rem(50px);
      font-size: $font-size-base;
      color: get-color('red');
    }

    .card-content {
      padding: 0;

      h3 {
        color: get-color('light-black');
        margin: 0;
      }
    }
  }
}