.modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: #00000026;
  top: 0;

  & .modal-dialog {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    & .modal-content {
      background-color: #ffffff;
      width: 40%;
      padding: 1rem;
      border-radius: 0.5rem;

      & .modal-header {
        position: relative;
        border-bottom: 1px solid #e9ecef;
        padding-bottom: 1rem;
        &.modal-title {
          font-size: 1.25rem;
          font-weight: 500;
        }
        & button.close {
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      & .modal-body {
        padding: 1rem 0;
      }
      & .modal-footer {
        padding-top: 1rem;
        border-top: 1px solid #e9ecef;
        display: flex;
        justify-content: end;
        gap: 1.5rem;
      }
    }
  }
}
