.main {
  .section-heading {
    @extend %h2;
  }

  .link {
    color: get-color('red');
    position: relative;

    &::after {
      content: '';
      background: get-color('red');
      width: 0;
      display: inline-block;
      height: rem(1px);
      position: absolute;
      bottom: 0;
      left: 0;
      transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    &:hover {
      &::after {
        width: 100%;
      }
    }
  }

  .list-row {
    >* {
      flex-grow: 0;
      flex-shrink: 0;
      flex-basis: 23.98%;
    }
  }

  .category-section {
    padding: rem(60px) 0;
  }

  .last-preview {
    padding: rem(60px) 0;
    background-color: get-color('daintree');

    .section-heading {
      color: get-color('white');
    }
  }

  .testimonial {
    padding: rem(60px) 0;
    background-color: get-color('smoke-white');


    .card {
      margin-top: rem(32px);
      border-radius: 16px;
      background-color: get-color('white');
      box-shadow: 0 64px 50px -32px rgba(6, 7, 37, .03);
      padding: rem(24px);

      .reviews__card-author {
        margin-top: rem(24px);
        display: flex;
        gap: 24px;

        >img {
          border-radius: 50%;
          max-width: 60px;

          &+div {
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            div {
              &:last-child {
                color: get-color('red');
              }
            }
          }
        }
      }
    }
  }

  .sectionSkills {
    padding: rem(140px) 0;
    background: url('https://as1.ftcdn.net/v2/jpg/06/21/10/88/1000_F_621108870_Ra5BpGTj7xm2uCanl2n9WywoENmX7A68.jpg') no-repeat;
    background-attachment: fixed;
    background-size: cover;
    width: 100%;
    color: get-color('white');

    .elem {
      @extend %h2
    }
  }
}

.count-home {
  padding: rem(60px) 0;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      text-align: center;
      font-size: $font-size-base + 8;

      span {
        margin-bottom: rem(16px);
        padding-bottom: rem(16px);
        border-bottom: rem(3px) solid get-color('red');
        @extend %h2;
        display: block;
      }
    }
  }
}

.insights {
  padding: rem(60px) 0;

  ul {
    display: flex;
    justify-content: space-between;

    li {
      padding: rem(32px);
      text-align: center;
      cursor: pointer;

      .thumb {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: rem(30px);
        background-color: #ffc8c4;
        border-radius: 50%;
        height: rem(180px);
        width: rem(180px);
        margin: rem(20px) auto;
      }

      &:hover {
        img {
          transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
          transform: scale(1.2);
        }
      }

      img {
        transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
      }
    }
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgb(var(--card-rgb) 0.1);
    border: rem(1px) solid rgb(var(--card-border-rgb) 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}

@media (prefers-reduced-motion) {
  .card:hover span {
    transform: none;
  }
}

/* Mobile */
@media (width <=700px) {}

/* Tablet and Smaller Desktop */
@media (width >=701px) and (width <=1120px) {
  .grid {
    grid-template-columns: repeat(2, 50%);
  }
}

@media (prefers-color-scheme: dark) {
  .vercelLogo {
    filter: invert(1);
  }

  .logo {
    filter: invert(1) drop-shadow(0 0 0.3rem #ffffff70);
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}