.main-header {
    padding: 1rem;
    z-index: 5;
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    -webkit-backdrop-filter: saturate(180%) blur(20px);
    backdrop-filter: saturate(180%) blur(20px);
    position: -webkit-sticky;
    position: sticky;
    position: fixed;
    top: 0;
    width: 100%;

    // box-shadow: 0 1px 3px rgba(0, 0, 0, .12), 0 1px 2px rgba(0, 0, 0, .24);
    // background-color: get-color("light-red");
    // background-color: get-opaque-color("light-red", 0.25);
    .nav {
        transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

        &:hover {

            > {
                a {
                    opacity: 0.5;

                    &:hover {
                        opacity: 1;
                    }
                }
            }
        }

        &>a {
            box-shadow: inset 0 0 0 0 get-color('red');
            padding: 0 rem(16px);
            display: inline-flex;
            font-weight: $font-weight-semi;
            transition: all 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);

            &:hover {
                color: get-color('dark-black');
                box-shadow: inset 0 -9px 0 0 get-color('red');
            }
        }
    }

    .profile {
        button {
            all: unset;
            cursor: pointer;
            display: inline-flex;

            &.user {
                display: flex;
                align-items: center;

                .chevron {
                    transform: rotate(90deg);
                }
            }
        }

        // SEARCH
        .search-group {
            position: relative;

            .form-control {
                all: unset;
                padding: .5rem;
                border-bottom: 1px solid #c2c2c2;
                color: #444444;
                padding-right: 30px;
            }

            .Iconsearch {
                position: absolute;
                right: 10px;
                bottom: 10px;
            }
        }
    }

}