.checkbox {
    cursor: pointer;
    display: flex;
    align-items: center;
    position: relative;

    font: {
        size: $font-size-base - 2;
    }

    input[type='checkbox'] {
        position: relative;
        display: inline-flex;

        &::before {
            content: '';
            height: rem(20px);
            width: rem(20px);
            border: rem(2px) solid get-color('daintree');
            border-radius: rem(4px);
        }

        &::after {
            content: '\2713';
            color: get-color('daintree');
            position: absolute;
            font-size: $font-size-base;
            left: rem(4px);
            font-weight: bold;
            top: -2px;
            transform: scale(0);
            transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &:checked {
            &::after {
                transform: scale(1);
            }
        }
    }

    >span {
        margin-left: rem(8px);
    }
}