.sidebar {
    min-width: rem($width-sidebar);
    background-color: get-color("white");
    border-right: rem(1px) solid rgb(229 231 235 / 100%);
    padding: rem(32px) rem(16px) rem(16px);

    @include media("<tablet") {

        position: fixed;
        z-index: 1;
        height: calc(100vh - 60px);
        overflow: auto;
        width: 100%;
        top: rem(60px);

    }

    h3 {
        @extend %h4;
    }

    .link {
        color: get-color('red');
        position: relative;

        font: {
            size: $font-size-base - 2;
        }

        &::after {
            content: '';
            background: get-color('red');
            width: 0;
            display: inline-block;
            height: rem(1px);
            position: absolute;
            bottom: 0;
            left: 0;
            transition: width 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
        }

        &:hover {
            &::after {
                width: 100%;
            }
        }
    }

    .filter-group {
        margin-top: rem(16px);

        h5 {
            @extend %h4;
            border-bottom: rem(1px) solid get-color('titanium-white');
            padding-bottom: rem(10px);
            margin-bottom: rem(6px);
            color: get-color('black');

            font: {
                size: $font-size-base - 2;
            }
        }

        li {
            >label {
                padding: rem(10px) 0;
            }
        }
    }
}