.tab {
    .tab-nav {
        all: unset;
        display: flex;

        >li {
            all: unset;
            text-align: center;
            cursor: pointer;
            padding: rem(24px) rem(40px);
            background-color: get-color('light-grey');

            &.active {
                background-color: get-color('solid-black');
                color: get-color('white');
            }
        }
    }

    .tab-content {
        border: 1px solid get-color('light-grey');
        padding: rem(16px);
    }

    &.secondary {
        display: flex;

        .tab-nav {
            flex-direction: column;
        }

        .tab-content {
            flex: 1;
        }
    }
}