.footer-main {
    font-size: $font-size-base - 2;
    //background: get-color('titanium-white');
    padding: rem(14px);
    background-color: var(--header-background);
    color: var(--header-text-color);

    .flexWrapper {
        @include media("<tablet") {
            flex-direction: column !important;
            justify-content: flex-start !important;
            align-items: flex-start !important;
        }

        >[class*='logo'] {
            @include media("<tablet") {
                margin-bottom: rem(16px);
            }
        }
    }


}