// SEARCH
.search-group {
    position: relative;
    box-sizing: border-box;


    .form-control {
        all: unset;
        padding: rem(8px);
        border-bottom: rem(1px) solid get-color('light-black');
        color: get-color('light-black');
        padding-right: rem(30px);
        width: 100%;
        box-sizing: border-box;
    }

    .Iconsearch {
        position: absolute;
        right: rem(10px);
        bottom: rem(10px);
    }

    .list-group {
        background-color: white;
        padding-bottom: rem(10px) rem(5px);
        width: 100%;
        position: absolute;
        top: rem(50px);

        .list {
            padding: rem(5px) rem(15px);
            cursor: pointer;

            &:hover {
                background-color: aliceblue;
            }

            &-no-interact {
                cursor: default;
            }
        }
    }
}