.progressbar {
  width: 100%;
  background-color: get-color('smoke-white');
  border-radius: rem(40px);

  & .progress {
    height: 100%;
    border-radius: rem(40px);
    display: flex;
    justify-content: end;
    align-items: center;

    &__text {
      color: get-color('solid-black');
      font-weight: $font-weight-bold;
      padding-right: rem(16px);
    }
  }
}