.main {
  min-height: 100vh;
  padding-top: rem(69px);
  background: get-color('smoke-white');

  .sticky-top-bar{
    position: sticky;
    top: rem(69px);
    background: #f6f6f6;
    z-index: 2;
  }

  font: {
    family: $font-family-primary;
  }

  h2 {
    @extend %h2;

    margin-block: rem(16px);
  }

  & .right-panel {
    padding-left: rem(24px);
    width: calc(100% - 300px);
    background-color: get-color('smoke-white');

    @include media("<tablet") {
      width: 100%;
      padding: 0 rem(16px);
    }
  }

  & .list-row {
    >* {
      flex: 0 0 32%;
      margin: 0;

      @include media("<tablet") {
        flex: 0 0 100%;
      }
    }
  }

  & .sortBy {
    cursor: pointer;
    padding: rem(16px);
    display: inline-block;

    >svg {
      transform: rotate(90deg);
    }
  }

  .btn-float {
    position: fixed;
    bottom: rem(20px);
    right: rem(20px);
    background-color: get-color('red');
    border-radius: 50%;
    color: get-color('white');
    z-index: 1;
    padding: rem(16px);
    display: flex;
    align-items: center;
  }
}

/* Enable hover only on non-touch devices */
@media (hover: hover) and (pointer: fine) {
  .card:hover {
    background: rgb(var(--card-rgb) 0.1);
    border: 1px solid rgb(var(--card-border-rgb) 0.15);
  }

  .card:hover span {
    transform: translateX(4px);
  }
}


@keyframes rotate {
  from {
    transform: rotate(360deg);
  }

  to {
    transform: rotate(0deg);
  }
}