.course-rating {
    &__border {
        padding: rem(10px);
        border: 1px solid var(--primary-button-color);
    }

    &-stars {
        color: var(--star-color);
        display: flex;
        align-items: center;

        & p {
            padding-top: rem(20px);
        }
    }

    & h4 {
        margin: 0;
    }

    & svg,
    i {
        cursor: pointer;
        margin-right: rem(5px);
        font-size: rem(18px);
    }

    & button {
        padding: 0.5rem 1rem;
        border-radius: 1rem;
        margin-left: auto;
    }
}